DATABASE_URL=

# Port & Host
PORT=8000
HOST=0.0.0.0 

# Arcjet
ARCJET_KEY=
ARCJET_ENV="development"

# API URL
API_URL=
# API_URL="YOUR_REAL_PRODUCTION_URL"

BROADCAST="1"
DELAY_MS="250"
MATCH_COUNT="0"